@model MVCSecondProject.Models.UpdateContactViewModel

<h1>Edit Contact</h1>
<hr />
<form method="post" action="View">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Primary PhoneNo</label>
        <input type="number" class="form-control" asp-for="primaryPhone">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Secondary PhoneNo</label>
        <input type="number" class="form-control" asp-for="secondaryPhone">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">DateOfBirth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Contact">Yes,Delete</button>
    <button type="button" class="btn btn-secondary" asp-action="Delete" asp-controller="Contact">No, cancel</button>
    
</form>